################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/MyWorkSpace/v14
/OriFiler/bin
/OriFiler/obj/x86
